<div class=" my-4 d-flex flex-column main align-items-center justify-content-center page-warp">
  <div class=" col-12 col-lg-12 col-xl-12 d-flex flex-row align-items-center justify-content-center gap-3">
    <img class=" col-1 col-lg-1 col-xl-1 skill_img" [src]="skill_img" alt="" alt="" />
    <span class="text-uppercase fw-bold skills " >Profession Skills</span>
  </div>
    <div *ngIf="display" class="lines d-flex my-3 d-flex flex-row justify-content-center gap-2 gap-sm-4 gap-lg-5 gap-xl-12 col-10  col-lg-10 col-xl-12" >
      <span class="vs_line"></span>
      <span class="windows_line"></span>
      <span class="ubuntu_line"></span>
      <span class="py_line"></span>
      <span class="html_line"></span>
      <span class="django_line"></span>
      <span class="css_line"></span>
      <span class="boot_line"></span>
      <span class="sql_line"></span>
      <span class="java_line"></span>
      <span class="ng_line"></span>
    </div>
    <div *ngIf="display" class="line_text_con d-flex my-1 d-flex flex-row justify-content-center gap-2  gap-sm-4 gap-lg-5 gap-xl-12 col-10 col-lg-2 col-xl-12">
      <span class="line_text ">angular</span>
      <span class="line_text ">javascript</span>
      <span class="line_text ">sql</span>
      <span class="line_text ">bootstrap</span>
      <span class="line_text ">css</span>
      <span class="line_text ">django</span>
      <span class="line_text ">html</span>
      <span class="line_text ">python</span>
      <span class="line_text ">ubuntu</span>
      <span class="line_text ">windows</span>
      <span class="line_text ">vs code</span>
    </div>
</div>
